html {
    height: 100%;
}

body {
    min-height: 100%; 
    display: flex; 
    flex-direction: column; 
    margin: 0
}

table.periodic_table {
    display: flex; 
    flex-direction: column;
    overflow-x: scroll;
    height: 85%
}

tr.periodic_table {
    height: clamp(32px, 8vh, 60px); 
    width: clamp(576px, 108vh, 1080px); 
    flex-grow: 1; 
    display: flex; 
    justify-content: space-between
}

th.periodic_table {
    flex-grow: 1;  
    display: flex;
    font-size: clamp(6px, 1vh, 16px)
}

td.periodic_table, button.periodic_table, div.element_container {
    flex-grow: 1; /* (min_width*18 +24 )/100 = min font size */
    width: clamp(32px, 6vh, 60px); 
    aspect-ratio: 1/1; 
    display: flex;
    flex-direction: column;
    font-size: clamp(6px, 1vh, 16px)
}

button.periodic_table.element_container, div.element_container {
    border-radius: 5%;
    border: 1px solid white;
    background-color: pink;
    aspect-ratio: 1/1; 
}

div.element_container {
    width: 50%;
    font-size: clamp(1px, 1.4vw, 16px)
}

p.periodic_table {
    text-align: center; 
    margin-bottom: 0px;
    font-size: 0.8em
}

p.element_atomic_number {
    text-align: left;
    padding-left: 5%;
    height: 7%;
}

p.element_symbol {
    font-size: 1.45em;
}

p.element_atomic_weight {
    height: 0%;
}

@media screen and (max-width: 960px) {
    p.periodic_table {
        text-align: center; 
        margin-bottom: 0px;
        font-size: 1em
    }

    p.element_atomic_number {
        text-align: left;
        padding-left: 5%;
        height: 10%;
    }

    p.element_symbol {
        font-size: 1.65em;
    }
    
    p.element_atomic_weight {
        height: 0%;
        display: none;
    }
}

button.periodic_table.element_container {
    aspect-ratio: 1/1; 
}
