html {
    height: 100%;
}

body {
    min-height: 100%; 
    display: flex; 
    flex-direction: column; 
    margin: 0
}

table.periodic_table {
    min-height: 80%; 
    display: flex; 
    flex-direction: column;
    overflow-x: scroll;
}

tr.periodic_table {
    height: 100%; 
    flex-grow: 1; 
    display: flex; 
    justify-content: space-between
}

th.periodic_table {
    min-width: 32px; 
    flex-grow: 1;  
    display: flex;
    font-size: clamp(6px, 1vw, 16px)
}

td.periodic_table {
    width: 60px; 
}

td.periodic_table, button.periodic_table, div.element_container {
    flex-grow: 1; 
    aspect-ratio: 1/1; 
    display: flex;
    flex-direction: column;
    min-width: 32px; /* (min_width*18 +24 )/100 = min font size */
    font-size: clamp(6px, 1vw, 16px)
}

button.periodic_table.element_container, div.element_container {
    border-radius: 5%;
    border: 1px solid white;
    background-color: pink;
    aspect-ratio: 1/1; 
}

div.element_container {
    width: 50%;
    font-size: clamp(1px, 1.4vw, 16px)
}

p.periodic_table {
    text-align: center; 
    margin-bottom: 0px;
    font-size: 0.8em
}

p.element_atomic_number {
    text-align: left;
    padding-left: 5%;
    height: 5%;
}

p.element_symbol {
    font-size: 1.45em;
}

p.element_atomic_weight {
    height: 0%;
}

@media screen and (max-width: 960px) {
    p.element_atomic_weight {
        height: 0%;
        display: none;
    }
}
