:root {
    --color_unsure: gray;
    --color_gas: #ffdd99;
    --color_liquid: lightblue;
    --color_solid: #ffaa99;
    --color_radioactive: #99ffaa;
    --color_non_radioactive: #22aaaa;
    --color_non_metal: #00aaff;
    --color_semi_metal: #ffdd55;
    --color_metal: #aa88ff;
    --color_alkali_metal: #ff6677;
    --color_alkaline_earth_metals: #ddff77;
    --color_transition_metals: #aa88ff;
    --color_post_transition_metals: #66ddcc;
    --color_triels: #55aaff;
    --color_tetrels: #ff6655;
    --color_pnictogens: #ffaa55;
    --color_chalcogens: #99bbff;
    --color_halogen: #99ff99;
    --color_noble_gas: #ff88bb;
    --color_actinides: #5577ff;
    --color_lanthanides: #ff7744;
    --color_edit_mode: aquamarine;
}

html {
    height: 100%;
}

body {
    min-height: 100%; 
    display: flex; 
    flex-direction: column; 
    margin: 0
}

table.periodic_table {
    display: flex; 
    flex-direction: column;
    overflow-x: scroll;
    min-height: 85%;
    overflow-y: visible;
    margin-bottom: 32px;
}

tr.periodic_table {
    height: clamp(32px, 8vh, 60px); 
    width: clamp(576px, 108vh, 1080px); 
    flex-grow: 1; 
    display: flex; 
    justify-content: space-between
}

th.periodic_table {
    flex-grow: 1;  
    display: flex;
    width: clamp(32px, 6vh, 60px); 
    font-size: clamp(6px, 1vh, 16px)
}

td.periodic_table, button.periodic_table, div.element_container {
    flex-grow: 1; /* (min_width*18 +24 )/100 = min font size */
    width: clamp(32px, 6vh, 60px); 
    aspect-ratio: 1/1; 
    height: clamp(32px, 6vh, 60px); 
    display: flex;
    flex-direction: column;
    font-size: clamp(6px, 1vh, 10px)
}

button.periodic_table.element_container, div.element_container {
    border-radius: 5%;
    border: 1px solid white;
    background-color: pink;
    aspect-ratio: 1/1; 
}

div.element_container {
    width: min(clamp(60px, 60vh, 475px), clamp(60px, 90vw, 475px));
    height: min(clamp(60px, 60vh, 475px), clamp(60px, 90vw, 475px)); 
    font-size: min(clamp(1px, 1.4vh, 11px), clamp(1px, 2.1vw, 11px));
}

p.periodic_table, p.not_periodic_table {
    text-align: center; 
    margin-bottom: 0px;
    font-size: 0.85em
}

p.element_atomic_number {
    text-align: left;
    padding-left: 5%;
    height: 7%;
}

p.element_symbol {
    font-size: 1.45em;
    font-weight: bold;
}

p.element_atomic_weight {
    height: 0%;
}

@media screen and (max-height: 720px) {
    p.periodic_table {
        text-align: center; 
        margin-bottom: 0px;
        font-size: 1em
    }

    p.periodic_table.element_atomic_number {
        text-align: left;
        padding-left: 5%;
        height: 10%;
    }

    p.periodic_table.element_symbol {
        font-size: 1.65em;
    }
    
    p.periodic_table.element_atomic_weight {
        height: 0%;
        display: none;
    }
}

button.periodic_table.element_container {
    aspect-ratio: 1/1; 
}
