html {
    height: 100%;
}

body {
    min-height: 100%; 
    display: flex; 
    flex-direction: column; 
    margin: 0
}

table.periodic_table {
    min-height: 80%; 
    display: flex; 
    flex-direction: column;
}

tr.periodic_table {
    height: 100%; 
    flex-grow: 1; 
    display: flex; 
    justify-content: space-between
}

th.periodic_table {
    width: 60px; 
    flex-grow: 1;  
    display: flex;
}

td.periodic_table, button.periodic_table {
    width: 60px; 
    flex-grow: 1; 
    aspect-ratio: 1/1; 
    display: flex;
    flex-direction: column;
}

button.periodic_table.element_container {
    border-radius: 5%;
    border: 1px solid white;
    background-color: pink;
}

p.periodic_table {
    text-align: center; 
    margin-bottom: 0px;
    font-size: xx-small
}

p.element_atomic_number {
    text-align: left;
    padding-left: 5%;
    height: 5%;
}

p.element_symbol {
    font-size: medium;
}
