{% extends 'base.html' %}

{% block content %}
<h2 class="pb-2 mb-4 border-bottom border-secondary" >Delete Element</h2>

{% set element_id_dict = {0 : ""} %}
<script>
  var element_id_dict = {}
</script>

{% for element in elements %}
    <script>
      element_id_dict["{{ element.id }}"] = "{{ element.name }}"

      function get_element_by_id(id) {
        x = element_id_dict[String(id)]
        if (x == null) {
          x = "<span class='text-danger'>No Element Found</span>"
        }
        return x
      }
    </script>
{% endfor %}

<!-- Form to delete an existing item, posts to /delete/<id> -->
<form action="/delete" method="POST">
    <label class="form-label" for="id_select">Element ID</label>
    <input class="form-control" type="number" min="0" name="id" id="id_select" placeholder="Item ID" required oninput="showSelectedElement()"><br>
    
    <script>
      function showSelectedElement() {
        const inputValue = document.getElementById('id_select').value;
        console.log("Input value changed:", inputValue);
        // Perform desired actions here, e.g., update another element, make an AJAX request.
        selected_element = document.getElementById("selected_element");
        message = "<strong>"+get_element_by_id(inputValue)+"</strong>";
        selected_element.innerHTML = message;
      }
    </script>

    <p>Selected Element: <span id="selected_element"></span></p>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Delete
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Deletion is permanent!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I have changed my mind</button>
            <button class="btn btn-danger" type="submit">Delete it!</button>
          </div>
        </div>
      </div>
    </div>

</form>
{% endblock %}