<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Operations</title>
</head>
<body>

    <h1>Items</h1>

    <!-- Display any message passed from the backend -->
    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}

    <!-- This will later display items from the database -->
    <ul>
        {% for element in elements %}
        <li>{{ element.id }} {{ element.name }} ({{ element.symbol }}) {{ element.group }}, {{ element.period }} - {{ element.metal }} - {{ element.melting_point }}K, {{ element.boiling_point }}K - {{ element.radioactive }}</li>
        {% endfor %}
    </ul>

    <h2>Create Item</h2>
    <!-- Form to create a new item, posts to /add -->
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Element Name" required><br>
        <input type="text" name="symbol" placeholder="Element Symbol" required><br>
        <input type="number" name="group" placeholder="Element Group (Number)" required><br>
        <input type="number" name="period" placeholder="Element Period (Number)" required><br>

        <input type="radio" id="metal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Metal" required>
        <label for="metal">Metal</label><br>
        <input type="radio" id="semimetal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Semi-Metal" required>
        <label for="semimetal">Semi-Metal</label><br>
        <input type="radio" id="nonmetal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Non-Metal" required>
        <label for="nonmetal">Non-Metal</label><br>
        <input type="radio" id="unsure_metal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Unsure" required>
        <label for="unsure_metal">Unsure</label><br>

        <input type="number" step=0.001 name="melting_point" placeholder="Melting Point at SLC in Kelvin"><br>
        <input type="number" step=0.001 name="boiling_point" placeholder="Boiling Point at SLC in Kelvin"><br>

        <input type="radio" id="no_radioactive" name="radioactive" placeholder="Radioactive" value=0 checked>
        <label for="no_radioactive">A stable isotope of this element exists.</label><br>
        <input type="radio" id="yes_radioactive" name="radioactive" placeholder="Radioactive" value=1>
        <label for="yes_radioactive">All known isotopes of this element are radioactive.</label><br>
        
        <div>
            <input type="number" name="most_stable_isotope_found" placeholder="Most Stable Isotope Found"><br>
            <input type="text" name="most_stable_halflife_found" placeholder="Most Stable Isotope Found"><br>
        </div>

        <button type="submit">Create</button>
    </form>

    <h2>Update Item</h2>
    <!-- Form to update an existing item, posts to /update/<id> -->
    <form action="/update" method="POST">
        <input type="number" name="id" placeholder="Element ID" required><br>
        
        <input type="text" name="name" placeholder="Element Name" required><br>
        <input type="text" name="symbol" placeholder="Element Symbol" required><br>
        <input type="number" name="group" placeholder="Element Group (Number)" required><br>
        <input type="number" name="period" placeholder="Element Period (Number)" required><br>

        <input type="radio" id="metal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Metal" required>
        <label for="metal">Metal</label><br>
        <input type="radio" id="semimetal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Semi-Metal" required>
        <label for="semimetal">Semi-Metal</label><br>
        <input type="radio" id="nonmetal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Non-Metal" required>
        <label for="nonmetal">Non-Metal</label><br>
        <input type="radio" id="unsure_metal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Unsure" required>
        <label for="unsure_metal">Unsure</label><br>

        <input type="number" step=0.001 name="melting_point" placeholder="Melting Point at SLC in Kelvin"><br>
        <input type="number" step=0.001 name="boiling_point" placeholder="Boiling Point at SLC in Kelvin"><br>

        <input type="radio" id="no_radioactive" name="radioactive" placeholder="Radioactive" value=0 checked>
        <label for="no_radioactive">A stable isotope of this element exists.</label><br>
        <input type="radio" id="yes_radioactive" name="radioactive" placeholder="Radioactive" value=1>
        <label for="yes_radioactive">All known isotopes of this element are radioactive.</label><br>
        
        <div>
            <input type="number" name="most_stable_isotope_found" placeholder="Most Stable Isotope Found"><br>
            <input type="text" name="most_stable_halflife_found" placeholder="Most Stable Isotope Found"><br>
        </div>

        <button type="submit">Update</button>
    </form>

    <h2>Delete Item</h2>
    <!-- Form to delete an existing item, posts to /delete/<id> -->
    <form action="/delete" method="POST">
        <input type="number" name="id" placeholder="Item ID" required>
        <button type="submit">Delete</button>
    </form>

</body>
</html>