{% extends 'base.html' %}

{% block content %}
    <h1>Elements</h1>

    <!-- Display any message passed from the backend -->
    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}

    <!-- This will later display items from the database -->
    <ul>
        {% for element in elements %}
        <li>
            {{ element.id }}: 
            {% if edit_mode == True %}
            <a href="{{ url_for('Update', id=element.id)}}">{{ element.name }}</a>
            {% else %}
            {{ element.name }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}