{% extends 'base.html' %}

{% block content %}
<h2>Update Item</h2>
<!-- Form to update an existing item, posts to /update/<id> -->
<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Element Name" required><br>
    <input type="text" name="symbol" placeholder="Element Symbol" required><br>
    <input type="number" name="group" min="0" placeholder="Element Group (Number)" required><br>
    <input type="number" name="period" min="0" placeholder="Element Period (Number)" required><br>
    <input type="number" step=0.001 min="0" name="atomic_number" placeholder="Atomic Number" required><br>
    <input type="number" step=0.001 min="0" name="atomic_weight" placeholder="Atomic Weight (3dp)" required><br>

    <input type="radio" id="metal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Metal" required>
    <label for="metal">Metal</label><br>
    <input type="radio" id="semimetal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Semi-Metal" required>
    <label for="semimetal">Semi-Metal</label><br>
    <input type="radio" id="nonmetal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Non-Metal" required>
    <label for="nonmetal">Non-Metal</label><br>
    <input type="radio" id="unsure_metal" name="metal" placeholder="Metal/Semi-Metal/Non-Metal/Unsure" value="Unsure" required>
    <label for="unsure_metal">Unsure</label><br>

    <input type="number" step=0.001 min="0" name="melting_point" placeholder="Melting Point at SLC in Kelvin"><br>
    <input type="number" step=0.001 min="0" name="boiling_point" placeholder="Boiling Point at SLC in Kelvin"><br>

    <input type="radio" id="no_radioactive" name="radioactive" placeholder="Radioactive" value=0 checked>
    <label for="no_radioactive">A stable isotope of this element exists.</label><br>
    <input type="radio" id="yes_radioactive" name="radioactive" placeholder="Radioactive" value=1>
    <label for="yes_radioactive">All known isotopes of this element are radioactive.</label><br>
    
    <div>
        <input type="number" name="most_stable_isotope_found" placeholder="Most Stable Isotope Found"><br>
        <input type="text" name="most_stable_halflife_found" placeholder="Most Stable Half-Life Found"><br>
    </div>

    <button type="submit">Update</button>
</form>
{% endblock %}